tei-opener {
    font-weight: bold;
}

tei-supplied {
    color: red;
}

/*
tei-supplied:before {
    content: "[";
}

tei-supplied:after {
    content: "]";
}
*/

tei-seg[rend="dropInit"] {
    font-size: 300%;
    float: left;
    line-height: 1em;
    padding-right: 10px;
}

tei-subst > tei-del {
    display: none;
    text-decoration: line-through;
}

tei-subst > tei-add {
    color: blue;
    cursor: pointer;
}

tei-choice {
    color:green;
    cursor: pointer;
}

tei-seg > tei-orig {
    font-weight: bold;
}

tei-quote {
    font-style: italic;
}

